@import '~antd/lib/style/themes/default.less';

@font-size-base: 16px;
@primary-color: rgb(210, 64, 137);
@font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
@layout-body-background: none;
@layout-header-background: none;
@border-style-base: none;
@layout-header-color: @white;
@text-color-secondary: @white;
@btn-primary-bg: linear-gradient(165.77deg, rgb(210, 64, 137) 8.62%, rgb(185, 45, 68) 84.54%);
@btn-primary-bg-hover: linear-gradient(10.77deg, rgb(210, 64, 137) 8.62%, rgb(185, 45, 68) 84.54%);
@btn-border-radius-base: 8px;
@padding-md: 32px;
@btn-font-weight: 700;
@height-lg: 64px;
@typography-title-margin-bottom: 0.25em;
