@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

html,
body, 
button {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Toastify__progress-bar--default {
  background: #62b0b1;
}

.Toastify__toast--default {
  color: #222222;
  font-family: inherit;
}

.Toastify__toast--default a {
  color:#B92D44;
}

.Toastify__toast--default a:hover {
  opacity: 0.8;
}